.terms__label, .terms, .button-closed, .send-email .main-button {
  display: flex;
  align-items: center;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7*/
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: o auto;
}
.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer .conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .conteiner {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
  }
}
.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
}
.logo__img {
  border-radius: 10%;
}

.footer .logo {
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__label {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal__conteiner_input {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal__textarea::placeholder {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: 528px;
    height: 581px;
  }
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
  .modal__textarea {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
  }
  .modal__textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
  }
}
.main-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover, .main-button:focus {
  background-color: #188CE8;
}
.send-email .main-button {
  justify-content: center;
}
.modal__form .main-button {
  align-self: center;
}

.button-closed {
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-closed__icon {
  width: 18px;
  height: 18px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-closed__icon:focus, .button-closed__icon:hover {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.filter__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.filter__button {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  min-width: 103px;
  padding: 6px 22px;
  background: #F5F4FA;
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.social-links {
  display: flex;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer__conteiner_social .social-links__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.footer__conteiner_social .social-links__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-links {
    display: flex;
    justify-content: center;
  }
  .social-links__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__conteiner_social .social-links__link {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
  }
  .social-links__link:hover, .social-links__link:focus {
    background-color: var(--accent-color);
  }
  .social-links__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-links__link:hover .social-links__icon, .social-links__link:focus .social-links__icon {
    fill: #ffffff;
  }
  .footer__conteiner_social .social-links__icon {
    fill: #ffffff;
  }
}
.terms {
  justify-content: center;
}

.terms__label {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 30px;
}
.terms__label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 8px;
}
.terms__checkbox:checked + .terms__label::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border: var(--accent-color);
}

.terms__link {
  color: var(--accent-color);
}

.header-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: white;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(-200%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.header-modal__button-closed {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
}

.header-modal__icon {
  width: 19px;
  height: 19px;
}

.header-modal__menu {
  margin-bottom: 200px;
}

.header-modal__item:not(:last-child) {
  margin-bottom: 32px;
}

.header-modal__link {
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-modal__link:hover, .header-modal__link:focus {
  color: var(--accent-color);
}

.header-modal__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.header-modal__contact-link {
  font-family: var(--main-font);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-modal__contact-link-little {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-modal__social {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.header-modal__social-item:not(:last-child):after {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.header-modal__social-link {
  position: relative;
  color: var(--accent-color);
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: none;
}

.contact-list {
  display: none;
}

.burger {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.burger__icon {
  width: 24px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger:hover .burger__icon, .burger:focus .burger__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
    border: 1px solid #ececec;
  }
  .header .logo {
    margin-right: 88px;
  }
  .burger {
    display: none;
  }
  .header-modal {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_active {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link_active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -44px;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list {
    display: block;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__item {
    margin-bottom: 10px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ececec;
  }
  .header .logo {
    margin-right: 93px;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_active {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link_active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -43px;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
}
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-back3.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 87px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__list {
  display: flex;
  flex-direction: column;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__conteiner_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .benefits__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(50% - 30px);
  }
  .benefits__conteiner_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .benefits__icon {
    width: 70px;
    height: 70px;
  }
  .benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  .benefits__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits__list {
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
  }
  .benefits__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(25% - 30px);
  }
  .benefits__conteiner_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .benefits__icon {
    width: 70px;
    height: 70px;
  }
  .benefits__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  .benefits__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.models {
  display: none;
}

.models {
  display: none;
}

@media screen and (min-width: 1200px) {
  .models {
    display: block;
    padding-bottom: 97px;
  }
  .models__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .models__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(25% - 30px);
  }
  .models__conteiner_text {
    position: relative;
  }
  .models__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.salers {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.salers__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salers__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.salers__item:not(:last-child) {
  margin-bottom: 30px;
}

.salers__conteiner_text {
  padding-top: 30px;
  padding-bottom: 24px;
}

.salers__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.salers__prof {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .salers__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .salers__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(50% - 30px);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .salers__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .salers__conteiner_text {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .salers__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }
  .salers__prof {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .salers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .salers__list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
  .salers__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(25% - 30px);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .salers__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .salers__conteiner_text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .salers__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }
  .salers__prof {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }
}
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.customers__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(50% - 30px);
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .customers__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(33.3333333333% - 30px);
  }
  .customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
  }
  .customers__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers__link:hover, .customers__link:focus {
    border: 1px solid var(--accent-color);
  }
  .customers__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
    fill: var(--accent-color);
  }
}
.model-space {
  margin-top: 60px;
  margin-bottom: 60px;
}

.model-space__list {
  display: flex;
  flex-direction: column;
}

.model-space__item {
  background: #FFFFFF;
}
.model-space__item:not(:last-child) {
  margin-bottom: 30px;
}

.model-space__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-space__link:hover, .model-space__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.model-space__conteiner-overlay {
  position: relative;
  overflow: hidden;
}

.model-space__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 77px;
  padding-bottom: 77px;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: scroll;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-space__link:hover .model-space__overlay, .model-space__link:focus .model-space__overlay {
  transform: translateY(0%);
}

.model-space__conteiner-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.model-space__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.model-space__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .model-space__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .model-space__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(50% - 30px);
    background: #FFFFFF;
  }
  .model-space__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .model-space__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .model-space__link:hover, .model-space__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .model-space__conteiner-overlay {
    position: relative;
    overflow: hidden;
  }
  .model-space__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 49px;
    padding-bottom: 77px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: scroll;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .model-space__link:hover .model-space__overlay, .model-space__link:focus .model-space__overlay {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 1200px) {
  .model-space {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .model-space__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(33.3333333333% - 30px);
    background: #FFFFFF;
  }
  .model-space__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .model-space__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .model-space__link:hover, .model-space__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .model-space__conteiner-overlay {
    position: relative;
    overflow: hidden;
  }
  .model-space__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: scroll;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .model-space__link:hover .model-space__overlay, .model-space__link:focus .model-space__overlay {
    transform: translateY(0%);
  }
}
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner_adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.adress__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

.adress__location {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.adress__tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__conteiner_social {
  display: flex;
  flex-direction: column;
}

.footer__title {
  height: 16px;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

.footer__conteiner_send-email {
  margin-top: 60px;
}

.send-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.send-email__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-email__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.send-email__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__conteiner_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 165px;
  }
  .adress__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adress__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .adress__location {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .adress__tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__conteiner_social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__title {
    height: 16px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__conteiner_send-email {
    margin-top: 0px;
  }
  .send-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .send-email__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .send-email__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .send-email__icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner_adress {
    display: block;
    margin-right: 70px;
    margin-bottom: 0px;
  }
  .adress__list {
    display: block;
  }
  .adress__item {
    margin-top: 20px;
  }
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .adress__location {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .adress__tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer__conteiner_social {
    display: block;
  }
  .footer__title {
    height: 16px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: start;
    margin-bottom: 20px;
  }
  .footer__conteiner_send-email {
    margin-left: auto;
    margin-top: 0;
  }
  .send-email {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .send-email__input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    margin-bottom: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .send-email__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .send-email__icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */