.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

// @media screen and (max-width: 767px) {
    .footer__conteiner_adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
        .adress__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .adress__item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .adress__location {
        @include font (14px, 400, 24px);
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .adress__tel {
        @include font (14px, 400, 24px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

        .footer__conteiner_social {
            display: flex;
            flex-direction: column;
            // align-items: center;
    }
    .footer__title {
        height: 16px;
        font-family: var(--main-font);
        @include font (14px, 700, 16px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__conteiner_send-email {
        margin-top: 60px;
    }
        .send-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .send-email__input {
        margin-right: 12px;
        padding: 15px 16px;
        width: 300px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        font-family: var(--main-font);
        @include font (16px, 400, 20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
    }
    .send-email__icon {
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
        margin-left: 10px;
    }

@media screen and (min-width: 768px) {
    .footer__conteiner_adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 165px;
    }
        .adress__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .adress__item {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .adress__location {
        @include font (14px, 400, 24px);
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .adress__tel {
        @include font (14px, 400, 24px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

    }

        .footer__conteiner_social {
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .footer__title {
        height: 16px;
        font-family: var(--main-font);
        @include font (14px, 700, 16px);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__conteiner_send-email {
        margin-top: 0px;
    }
        .send-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .send-email__input {
        margin-right: 12px;
        padding: 15px 16px;
        width: 450px;
        height: 50px;
        margin-bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        font-family: var(--main-font);
        @include font (16px, 400, 20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
    }
    .send-email__icon {
        width: 24px;
        height: 24px;
        fill: #FFFFFF;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .footer__conteiner_adress {
        display: block;
        margin-right: 70px;
        margin-bottom: 0px;
    }
    .adress__list {
        display: block
    }
    .adress__item {
        &:not(:last-child) {
            margin-bottom: 9px;
        }
        
        margin-top: 20px
    }
        .adress__location {
            @include font (14px, 400, 24px);
            letter-spacing: 0.03em;
            color: #FFFFFF;
        }
        .adress__tel {
            @include font (14px, 400, 24px);
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
        .footer__conteiner_social {
            display: block;
    }
        .footer__title {
            height: 16px;
            font-family: var(--main-font);
            @include font (14px, 700, 16px);
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: start;
            margin-bottom: 20px;
        }
        .footer__conteiner_send-email {
            margin-left: auto;
            margin-top: 0;
        }
        .send-email {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .send-email__input {
            margin-right: 12px;
            padding: 15px 16px;
            width: 358px;
            height: 50px;
            margin-bottom: 0px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: #2F303A;
            font-family: var(--main-font);
            @include font (16px, 400, 20px);
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus {
                outline: none;
                border-color: var(--accent-color);
            }
        }
        .send-email__icon {
            width: 24px;
            height: 24px;
            fill: #FFFFFF;
            margin-left: 10px;
        }
}

