.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: o auto;

  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero & {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer & {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .conteiner {
    
    .footer & {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    
    .footer & {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    
    .footer & {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
}